* {
  padding: 0px;
  margin: 0px;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body,
blockquote,
fieldset,
lengend,
button,
input,
textarea,
select,
code,
var,
samp {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #444;
  font-weight: 400;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
.flex-container {
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: wrap;
  flex-flow: wrap;
  align-items: stretch;
}
.flex-item {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.tablearea {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.tablearea .row {
  display: table-row;
}
.tablearea .cell {
  display: table-cell;
  vertical-align: middle;
}
.tablearea.vtop .cell {
  vertical-align: top;
}
.inlinearea {
  margin: 0 -10px;
  font-size: 0;
}
.inlinearea .colm {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  padding: 10px;
}
select.inputarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* background: url("../images/arrowdown.gif") no-repeat 96% 50% #fff; */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.inputarea {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px 20px 10px 10px;
  width: 100%;
  outline: none;
  border-radius: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #444 !important;
  border-radius: 20px;
}
.inputareaComment {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  height: 4rem;
  width: 95%;
  margin: 10px;
  outline: none;
  border-radius: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #444 !important;
  border-radius: 20px;
}
.inputareaTitle {
  border: 1px solid #ccc;
  height: 30px;
  padding: 20px;
  margin: 10px;
  width: 90%;
  margin: 10px;
  outline: none;
  border-radius: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #444 !important;
  border-radius: 20px;
}
.inputareaStory {
  border: 1px solid #ccc;
  height: 80px;
  padding: 20px;
  margin: 10px;
  width: 98%;
  margin: 10px;
  outline: none;
  border-radius: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #444 !important;
  border-radius: 20px;
}
.inputarea:focus {
  border-color: #0083d0;
  box-shadow: 0 0 5px 2px #dcdcdc inset;
}
.inputareaTitle:focus {
  border-color: #0083d0;
  box-shadow: 0 0 5px 2px #dcdcdc inset;
}
.inputareaTitle.required {
  border-color: #ec7272;
  -webkit-box-shadow: inset 0 0 8px 0px rgba(255, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 8px 0px rgba(255, 0, 0, 0.3);
  box-shadow: inset 0 0 8px 0px rgba(255, 0, 0, 0.3);
}
.inputarea.required {
  border-color: #ec7272;
  -webkit-box-shadow: inset 0 0 8px 0px rgba(255, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 8px 0px rgba(255, 0, 0, 0.3);
  box-shadow: inset 0 0 8px 0px rgba(255, 0, 0, 0.3);
}
textarea.inputarea {
  height: 100px;
}
textarea.inputareaTitle {
  height: 30px;
  width: 100%;
}
.btns,
a.btns {
  border: none;
  height: 40px;
  padding: 10px 20px 10px 10px;
  width: 100%;
  margin: 10px;
  background-color: #0083d0;
  border-radius: 3px;
  color: #fff;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-decoration: none;
  display: inline-block;
  line-height: 100%;
  cursor: pointer;
  font-weight: 600;
}
.btns:hover,
a.btns:hover {
  background-color: #006fbc;
}
.btns.roundshape,
a.btns.roundshape {
  border-radius: 100px;
  outline: none;
}
.btns.redbtn,
a.btns.redbtn {
  background-color: #e40f37;
}
.btns.redbtn:hover,
a.btns.redbtn:hover {
  background-color: #c70f31;
}
.btns.full,
a.btns.full {
  width: 100%;
}
a {
  text-decoration: none;
  color: #0083d0;
}
.nomargin {
  margin: 0;
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.5);
}
.overlay.show {
  display: block;
}
img.arb {
  display: none;
}
i[class^="pe-"] {
  vertical-align: middle;
}
.custombrowse {
  position: relative;
  padding-right: 40px;
  background: #fff;
  display: block;
}
.custombrowse .attachbtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 22px;
  padding: 7px 10px;
  line-height: 71%;
  cursor: pointer;
}
.custombrowse .results {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.padd0 {
  padding: 0 !important;
}
.marg0 {
  margin: 0 !important;
}
.fl_l {
  float: left;
}
.fl_r {
  float: right;
}
.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}
.wrapper::after {
  display: block;
  content: "";
  clear: both;
}
.mainheader {
  border-bottom: 1px solid #dadada;
  background-color: #fff;
  position: fixed;
  padding: 10px;
  width: 100%;
  z-index: 100;
}
.mainheader .logo {
  float: left;
  font-size: 29px;
  font-weight: 700;
}
.mainheader .logo a {
  color: #000;
}
.mainheader .rightpnl {
  float: right;
}
.mainheader .rightpnl ul {
  list-style-type: none;
}
.mainheader .rightpnl ul li {
  display: inline-block;
  vertical-align: middle;
  padding-right: 15px;
  position: relative;
}
.mainheader .rightpnl ul li:last-child {
  padding-right: 0;
}
.mainheader .rightpnl ul a {
  display: block;
  padding: 7px;
  color: #565656;
  font-weight: 600;
}
.mainheader .rightpnl ul a:hover {
  color: #2b2b2b;
}
.mainheader .rightpnl ul .prfl > a {
  padding: 2px;
}
.mainheader .rightpnl .menudropdn {
  position: absolute;
  top: 100%;
  right: 0;
  padding-top: 1px;
  width: 180px;
  display: none;
}
.mainheader .rightpnl .menudropdn ul {
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.3);
}
.mainheader .rightpnl .menudropdn li,
.mainheader .rightpnl .menudropdn a {
  display: block !important;
}
.mainheader .rightpnl .menudropdn li {
  padding: 0 !important;
  border-bottom: 1px solid #ddd;
}
.mainheader .rightpnl .menudropdn a {
  padding: 10px;
}
.mainheader .rightpnl .menudropdn a:hover {
  background-color: #f1f1f1;
}
.mainheader .rightpnl li:hover .menudropdn {
  display: block;
}
.mainheader .rightpnl .btns,
.mainheader .rightpnl a.btns {
  padding: 9px 20px;
}
.mainheader .srch {
  float: left;
  padding: 3px 8px;
  position: relative;
}
.mainheader .srch input {
  border: none;
  background-color: #efefef;
  width: calc(100vw - 430px);
  max-width: 750px;
  padding: 6px 20px;
  border-radius: 100px;
  outline: none;
}
.mainheader .srch input:focus {
  -webkit-box-shadow: inset 0 0 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px 0px rgba(0, 0, 0, 0.3);
}
.mainheader .srch button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 3px;
  right: 15px;
  padding: 6px;
  cursor: pointer;
  color: #adadad;
}
.mainheader .srch button:hover {
  color: #444;
}
.log_bg {
  width: 100%;
  height: calc(100vh - 40px);
  /* background: url(../images/log_bg.jpg) repeat; */
  opacity: 0.8;
}
.login_area {
  position: fixed;
  bottom: 0;
  left: 50%;
  height: 70vh;
  background: #ffffffe3;
  width: 800px;
  margin-left: -400px;
  border-radius: 40px 40px 0 0;
  -webkit-box-shadow: 0 0 18px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0 18px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 18px 0px rgba(0, 0, 0, 0.7);
  padding: 5vh;
}
.login_area h1 {
  font-size: 40px;
  color: #0083d0;
  text-align: center;
  padding: 2vh 0 4vh 0;
  font-weight: 600;
  text-transform: uppercase;
}
.login_area .tablearea {
  text-align: center;
}
.login_area .log-box {
  width: 100%;
  max-width: 450px;
  display: inline-block;
  padding: 10px;
}
.login_area .frm-row {
  padding-bottom: 3vh;
}
.login_area .btl label {
  display: block;
  padding-bottom: 1vh;
  text-align: left;
}
.login_area p {
  padding-bottom: 1vh;
}
.login_area p a:hover {
  text-decoration: underline;
}
.register h1 {
  text-align: center;
  font-size: 30px;
  padding: 30px 0;
  font-weight: 600;
  text-transform: uppercase;
}
.reg-box {
  max-width: 450px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}
.reg-box .row {
  padding-bottom: 15px;
}
.reg-box p a:hover {
  text-decoration: underline;
}
.pfl_pic {
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  border-radius: 100px;
  overflow: hidden;
  width: 35px;
  height: 35px;
  background-position: center;
  background-size: cover;
  margin-right: 2px;
  border: 1px solid #ddd;
}
.mainbody {
  padding-top: 60px;
}
.blgs .colm {
  vertical-align: top;
  padding-top: 0;
}
.blog_line {
  width: 70%;
}
.blog_box {
  padding: 40px 0;
}
.blog_box .conts h5 {
  font-size: 22px;
  padding-bottom: 15px;
  color: #000;
  font-weight: 600;
}
.blog_box .conts p {
  line-height: 24px;
}
.blog_box .imgs {
  background-position: center;
  background-size: cover;
  min-height: 150px;
  max-height: 350px;
  overflow: hidden;
}
.blog_box .imgs img {
  display: block;
  width: 100%;
  opacity: 0;
}
.blog_box .cont_txt {
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}
.blog_box .imgs + .cont_txt {
  margin: 0 auto;
  max-width: 95%;
  margin-top: -50px;
}
.blog_box .pfl_pic {
  width: 38px;
  height: 38px;
}
.blog_box .pstdtl > span {
  display: inline-block;
  padding-right: 20px;
}
.blog_box .pstdtl > span:last-child {
  padding: 0;
}
.blog_box .top_bar,
.blog_box .mdl_bar,
.blog_box .btm_bar {
  padding: 15px;
}
.blog_box .top_bar {
  padding-bottom: 0;
}
.blog_box .btm_bar {
  border-top: 1px solid #eaeaea;
}
.blog_box .btm_bar textarea.inputarea textarea.inputareaTitle {
  height: 38px;
  resize: none;
  padding-right: 40px;
}
.blog_box .cell {
  position: relative;
}
.blog_box .cell.pht {
  width: 45px;
}
.blog_box .cell.cnt button {
  border: none;
  background: none;
  color: #0083d0;
  position: absolute;
  right: 14px;
  bottom: 8px;
  font-size: 22px;
  cursor: pointer;
}
.cmtlist > .tablearea {
  margin-bottom: 8px;
}
.pstdtl .nms a {
  font-weight: 700;
}
.pstdtl .nms a:hover {
  text-decoration: underline;
}
.pstdtl .tms {
  color: #969696;
  font-size: 11px;
}
.postar {
  padding-bottom: 0;
}
.postar .cell.pht {
  width: 75px;
}
.postar .pfl_pic {
  width: 70px;
  height: 70px;
}
.postar textarea.inputarea textarea.inputareaTitle {
  resize: none;
  font-size: 20px;
}
.prfl .colm {
  vertical-align: top;
  padding-top: 0;
  align-items: center;
}
.profile {
  text-align: center;
  padding-left: 5px;
}
.prflsdtl {
  width: 70%;
}
.pfl-pnl h1 {
  font-size: 23px;
  padding: 20px 0;
  font-weight: 600;
  color: #0083d0;
}
.pfl-pnl h1 span {
  display: inline-block;
  vertical-align: baseline;
  font-size: 17px;
  color: #888;
  font-weight: 400;
}
.pfl-pnl h5 {
  font-size: 17px;
  padding-bottom: 15px;
}
.pfl-pnl > section {
  margin-bottom: 30px;
  padding: 10px;
  border: 1px dotted transparent;
}
.pfl-pnl > section:hover {
  border-color: #c5c5c5;
  background-color: #f7f7f7;
}
.pfl-pnl .inpt {
  position: relative;
}
.pfl-pnl .inpt button {
  position: absolute;
  top: 0;
  right: 4px;
  border: none;
  background-color: transparent;
  font-size: 23px;
  color: #0083d0;
  padding: 8px;
  line-height: 100%;
  cursor: pointer;
  outline: none;
  opacity: 0.8;
}
.pfl-pnl .inpt button:hover {
  opacity: 1;
}
.pfl-pnl .inpt input,
.pfl-pnl .inpt textarea {
  padding-right: 40px;
}
.prfl_picrow label {
  display: inline-block;
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 300px;
  overflow: hidden;
  cursor: pointer;
}
.prfl_picrow label input[type="file"] {
  display: none;
}
.prfl_picrow label samp {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  font-weight: 600;
  opacity: 0;
  z-index: 2;
  color: #fff;
}
.prfl_picrow label samp i {
  display: block;
  font-size: 22px;
}
.prfl_picrow label:after {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.36);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}
.prfl_picrow label samp,
.prfl_picrow label:after {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.prfl_picrow label:hover samp,
.prfl_picrow label:hover:after {
  opacity: 1;
}
.dtl-box .inpt {
  display: none;
}
.dtl-box.edit h5 a {
  display: none;
}
.dtl-box.edit .inpt {
  display: block;
}
.dtl-box.edit .row {
  display: none;
}
.prfl_pic {
  width: 200px;
  height: 200px;
  border-radius: 300px;
  background-position: center;
  background-size: cover;
  display: block;
}
.prfl_pic_others {
  width: 200px;
  height: 200px;
  border-radius: 300px;
  /* background-position: center;
  background-size: cover;
  display: block; */
}
.dtl-box h5 a {
  font-size: 14px;
  opacity: 0;
  float: right;
}
.dtl-box:hover h5 a {
  opacity: 1;
}
.rgtcont {
  width: 30%;
}
.rgtcont .box:first-child {
  margin-top: 40px;
}
.rgtcont .box h5 {
  font-size: 17px;
  padding-bottom: 15px;
  font-weight: 600;
}
.chgpass {
  margin-top: 70px;
  padding: 10px;
  border: 1px dotted #c5c5c5;
}
.chgpass h5 {
  font-size: 17px;
  padding-bottom: 15px;
}
.chgpass .row {
  padding-bottom: 10px;
}
.flows {
  margin-top: 20px;
}
.flows .tablearea {
  width: calc(100% + 20px);
  margin: 0 -10px;
}
.flows .cell {
  padding: 0 10px;
  border-right: 1px solid #ddd;
}
.flows .cell:last-child {
  border: none;
}
.flows p {
  padding-bottom: 8px;
}
.flows a {
  color: #444;
}
.flows a:hover {
  text-decoration: underline;
}
.white-popup {
  position: relative;
  background: #fff;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
.pop_content .headr {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
.pop_content .headr h3 {
  font-size: 20px;
}
.pop_content .headr h3 .tlnm {
  display: inline-block;
  vertical-align: baseline;
  font-weight: 400;
  font-size: 15px;
  color: #909090;
  line-height: 100%;
  padding-left: 10px;
}
.pop_content .contbdy {
  padding: 15px;
  overflow: auto;
  max-height: 90vh;
}
.flowlst .lst {
  display: table;
  width: calc(100% + 20px);
  margin: 0 -10px;
  border-bottom: 1px solid #f2f2f2;
}
.flowlst .lst .cell {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
}
.flowlst .lst .pht {
  width: 65px;
}
.flowlst .lst .mdl {
  width: 100%;
}
.flowlst .flrs {
  color: #888;
}
.flowlst .pfl_pic {
  width: 45px;
  height: 45px;
}
.flrsukno {
  padding-top: 20px;
}
.flrsukno > a {
  display: block;
}
.flrsukno .cell {
  font-size: 0.789rem;
  color: #717171;
}
.flrsukno .cell:first-child {
  width: 75px;
}
.flrsukno .pfl_pic:nth-child(2) {
  position: relative;
  z-index: 1;
  margin: 0 -20px;
  -webkit-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 800px) {
  .login_area {
    width: 100%;
    margin-left: -50%;
    padding: 1vh;
  }
}
@media (max-width: 767px) {
  .prfl .colm {
    width: 100%;
  }
}
a {
  color: black !important;
}

.mycard {
  margin-top: 30px;
}
.auth-card {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 10px auto;
}

.input-field input[type="text"]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}
.input-field input[type="password"]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 30%;
}

.home-card {
  max-width: 500px;
  height: max-content;
  margin: 10px auto;
}
.collection-item {
  width: 100%;
}

#toast-container {
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}

.material-icons:hover {
  cursor: pointer;
}
.input-field input[type="text"]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}
.input-field input[type="password"]:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(8, 93, 252) !important;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 30%;
}

.home-card {
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
}
.collection-item {
  width: 100%;
}

#toast-container {
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}

.material-icons:hover {
  cursor: pointer;
}
